version: 2.1

workflows:
  version: 2
  deploy-master:
    jobs:
      - build:
          filters:
            branches:
              only:
                - master

jobs:
  build:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run:
          name: Install Dockerize
          command: |
            curl -L https://github.com/jwilder/dockerize/releases/download/v0.6.1/dockerize-linux-amd64-v0.6.1.tar.gz | tar -C /tmp -xz
            sudo mv /tmp/dockerize /usr/local/bin

      - setup_remote_docker:
          version: 20.10.7

      - run:
          name: "Build Docker images in parralel"
          command: |
            docker-compose -f ../docker-compose-build.yaml build --parallel

      - run:
          name: "Tag udagram-api-user Docker image"
          command: |
            docker tag udagram-api-user mhieung/udagram-api-user:v2

      - run:
          name: "Tag udagram-api-feed Docker image"
          command: |
            docker tag udagram-api-feed mhieung/udagram-api-feed:v2

      - run:
          name: "Tag udagram-frontend Docker image"
          command: |
            docker tag udagram-frontend mhieung/udagram-frontend:v2

      - run:
          name: "Tag udagram-reverseproxy Docker image"
          command: |
            docker tag udagram-reverseproxy mhieung/udagram-reverseproxy:v2

      - run:
          name: "Push to Dockerhub"
          command: |
            echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
            docker push mhieung/udagram-api-user:v2
            docker push mhieung/udagram-api-feed:v2
            docker push mhieung/udagram-frontend:v2
            docker push mhieung/udagram-reverseproxy:v2
