version: 2.1

workflows:
  version: 2
  build-master:
    jobs:
      - build:
          filters:
            branches:
              only:
                - master

jobs:
  build:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run:
          name: Install Dockerize
          command: |
            curl -L https://github.com/jwilder/dockerize/releases/download/v0.6.1/dockerize-linux-amd64-v0.6.1.tar.gz | tar -C /tmp -xz
            sudo mv /tmp/dockerize /usr/local/bin

      - setup_remote_docker:
          version: 20.10.7

      - run:
          name: "Build and tag backend-user Docker image"
          command: |
            docker build -t backend-user ./udagram-api-user
            docker tag backend-user mhieung/backend-user:v2

      - run:
          name: "Build and tag backend-feed Docker image"
          command: |
            docker build -t backend-feed ./udagram-api-feed
            docker tag backend-feed mhieung/backend-feed:v2

      - run:
          name: "Build and tag frontend Docker image"
          command: |
            docker build -t frontend ./udagram-frontend
            docker tag frontend mhieung/frontend:v2

      - run:
          name: "Build and tag reverseproxy Docker image"
          command: |
            docker build -t reverseproxy ./udagram-reverseproxy
            docker tag reverseproxy mhieung/reverseproxy:v2

      - run:
          name: "Push to Dockerhub"
          command: |
            echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
            docker push mhieung/backend-user:v2
            docker push mhieung/backend-feed:v2
            docker push mhieung/frontend:v2
            docker push mhieung/reverseproxy:v2
