version: 2.1

workflows:
  version: 2
  build-master:
    jobs:
      - build:
          filters:
            branches:
              only:
                - master

jobs:
  build:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run:
          name: Install Dockerize
          command: |
            curl -L https://github.com/jwilder/dockerize/releases/download/v0.6.1/dockerize-linux-amd64-v0.6.1.tar.gz | tar -C /tmp -xz
            sudo mv /tmp/dockerize /usr/local/bin

      - setup_remote_docker:
          version: 23.0.5

      - run:
          name: "Build Docker images in parralel"
          command: |
            docker-compose -f ./docker-compose-build.yaml build --parallel

      - run:
          name: "Tag backend-user Docker image"
          command: |
            docker tag backend-user mhieung/backend-user:v1

      - run:
          name: "Tag backend-feed Docker image"
          command: |
            docker tag backend-feed mhieung/backend-feed:v1

      - run:
          name: "Tag frontend Docker image"
          command: |
            docker tag frontend mhieung/frontend:v1

      - run:
          name: "Tag reverseproxy Docker image"
          command: |
            docker tag reverseproxy mhieung/reverseproxy:v1

      - run:
          name: "Push to Dockerhub"
          command: |
            echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
            docker push mhieung/backend-user:v1
            docker push mhieung/backend-feed:v1
            docker push mhieung/frontend:v1
            docker push mhieung/reverseproxy:v1
